.part1 {
  height: 45vh;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 15vh;
}
.part2 {
  background-color: var(--main2);
  height: 45vh;
  clip-path: polygon(0% 20%, 100% 0px, 100% 100%, 0px 100%);
}
.projecta {
  border: 1px solid white;
  height: 200px;
  z-index: 5;
  margin: 15px;
}

.projects {
  position: absolute;
  top: 45vh;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  display: none;
}

.projectdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 300px;
}
