.forma {
  display: flex;
  z-index: 3;
  flex-direction: column;
  position: absolute;
}
.part1 {
  height: 45vh;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 15vh;
}
.part2 {
  background-color: var(--main2);
  height: 45vh;
  clip-path: polygon(0% 20%, 100% 0px, 100% 100%, 0px 100%);
}

.image {
  position: absolute;
  z-index: 4;
  width: 3vw;
  left: 8vw;
  filter: var(--filter);
  top: 30vh;
  transition: 0.2s;

  &:hover {
    filter: var(--filter2);
  }
}
.image2 {
  left: 20vw;
}

.link {
  width: 3vw;
}
.text {
  font-size: 1.2rem;
  margin-top: 0.5vh;
}
.input1 {
  width: 30vw;
}
.input2 {
  width: 30vw;
  height: 10vh;
  max-width: 50vw;
  max-height: 20vh;
  min-width: 30vw;
  min-height: 10vh;
}

@media (max-width: 768px) {
  .part1 {
    padding-top: 20vh;
  }
  .image {
    top: 45vh;
    width: 10vw;
    left: 5vw;
  }
  .image2 {
    left: 25vw;
  }
  .input1 {
    width: 50vw;
  }
  .input2 {
    width: 50vw;
  }
}
