.hide {
  display: hidden;
}
.animate {
  animation: fadein 0.5s;
}
.part1 {
  height: 45vh;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 15vh;
  z-index: 1;
  max-height: 442.77px;
}
.part2 {
  background-color: var(--main2);
  height: 45vh;
  clip-path: polygon(0% 20%, 100% 0px, 100% 100%, 0px 100%);
}
@keyframes fadein {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .part1 {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 10vh;
  }
}
