.hide {
  display: none;
}
.list {
  position: fixed;
  right: 15px;
  top: 7vh;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.headerp {
  padding: 5px;
  text-decoration: none;
  color: var(--text);
  transition: 0.5s;
}

.listbuttp {
  color: var(--text);
}
.listbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button);
  width: 10vw;
  height: 5vh;
  border: none;
  transition: 0.5s;
}
.listbutton2 {
  border-bottom: 1px dashed var(--border);
}
.listspan {
  display: flex;
  height: 3.5vh;
  width: 10vw;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    background-color: var(--buttonhover);
  }
}
.list_hid {
  display: none;
}
.listimg {
  width: 20px;
  filter: var(--filter);
  margin-right: 10px;
}
.headerbutton {
  margin-right: 50px;
  margin-top: 5px;
  height: 6vh;
  width: 3.5vw;
  background-color: transparent;
  filter: var(--filter);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  border: 5px solid transparent;
  transition: 0.2s;

  &:hover {
    border: 5px solid var(--border);
    background-color: var(--backborder);
    filter: var(--filterhover);
  }
}
.headerimg {
  height: 4vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5vw;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  background-color: var(--main);
  transition: 0.5s;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 0px;
  position: relative;
  z-index: 20;
  position: fixed;
}
.footer {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 0px;
  position: fixed;
  top: 93%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  width: 100%;
  background-color: var(--main2);
  transition: 0.5s;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  transition: 0.5s;
  position: relative;
  top: 5vh;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 768px) {
  .listbutton {
    width: 25vw;
    height: 5.5vh;
  }
  .listspan {
    width: 25vw;
    height: 4vh;
  }
  .listbuttp {
    font-size: 15px;
  }
  .headerbutton {
    width: 15vw;
  }
}
.headerp:hover {
  color: red;
}
.footerp {
  padding: 5px;
}
